/* staggereddropdown.css */

/* Dropdown button styles */

@keyframes gradientAnimation {
    0% {
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #7602fb, #002ef9);
      border-radius: .5rem;
    }
    50% {
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #0901ff, #bf00ff);
      border-radius: .5rem;
    }
    100% {
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #e604fa, #8800ff);
      border-radius: .5rem;
    }
  }
  
  .sd-button {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 0.4rem;
      font-weight: bolder;
      font-size: 2rem;
      color: #fff;
      background-color: black;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
    }
    
    .sd-button:hover {
      background-color: #090909;
    }
    
    /* Dropdown options styles */
    .sd-options {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      width: 14rem;
      overflow: hidden;
      border-radius: 0.5rem;
      background-color: black;
      box-shadow: 0 4px 8px rgb(255, 255, 255);
      border-width: .2rem; /* Set the border width */
    border-style: solid ;
    animation: gradientAnimation 5s ease infinite; /* Apply the animation */
    }
    
    .sd-option {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .sd-option:hover {
      background-color: black;
      color: #fa0404;
    }
    
    /* Chevron icon styling */
    .sd-chevron svg {
      transition: transform 0.3s ease;
    }
    
    /* Additional styles for a futuristic look */
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f8f8f8;
      font-weight: bolder;
    }
    
    /* Additional styles for a modern feel */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    