@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: font2;
  src: url(./MonumentExtended-Regular.otf);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: font2;
}

html,body{
  height:100%;
  width:100%;
  background-color: black;
}
 
#heromain{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
} 
